@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-SemiBold.eot");
  src: url("/assets/fonts/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("/assets/fonts/Montserrat-SemiBold.woff") format("woff");
}
