//@import "/src/assets/img";

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 280px;
  //perspective: 500px;
  margin: 20px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  border: #e4e4e4 solid 2px;
  transition: .2s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(211, 155, 194, .4);
    border: #de9bc2 solid 2px;
  }
}

.card__category {
  font-size: 1.4rem;

  img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
    margin: 30px auto;

  }

  &:before {
    position: absolute;
    content: "";
    background: rgb(133, 214, 222);
    background: linear-gradient(180deg, rgba(133, 214, 222, 1) 0%, rgba(133, 214, 222, 1) 51%, rgba(133, 214, 222, 0.6194852941176471) 100%);
    height: 40%;
    width: 100%;
    border-radius: 3px 3px 0 0;
    z-index: -1;
  }

  &:hover {

  }

}

.card__container {
  perspective: 500px;
}

.train-card,
.card__game {
  height: 250px;
  font-size: 1.3rem;
  transform-style: preserve-3d;
}

.train-card {
  transition: transform .6s ease;
  transform-style: preserve-3d;
}

.train-card__front,
.train-card__back {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;

  &:hover {
  }

  & p {
    align-self: flex-end;
    padding-bottom: 12px;
  }

  & i {
    //backface-visibility: hidden;

    &:hover {
      color: #498b91;
    }
  }
}

.train-card__front {
  z-index: 2;
  & i {
    position: absolute;
    bottom: 9px;
    right: 30px;

  }
}

.train-card__back {
  transform: rotateY(180deg);
}

.card__game {
  background-size: cover;
  background-position: 50%;
}

.rotate {

  transform: rotateY(180deg);
}
