.main-wrapper {
  margin: 0 40px;
  max-width: 1440px;
}

.results {
  display: flex;
  flex-direction: row-reverse;
}

.background_blue {
  background-color: rgba(133, 214, 222, 0.06);
}

.background_yellow {
  background-color: rgba(222, 207, 110, 0.2);
}
