.menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  height: 100vh;
  transition: .9s cubic-bezier(.77,.2,.05,1);
  color: #515151;
  z-index: 100;
  filter: brightness(.97);
}

.close {
  transform: translateX(-100%);

}

.menu__items {
  margin: 125px 0 0 55px;

  &>li {
    margin-bottom: 20px;
  }
}

.menu__item {
  font-size: 1.3rem;
  border-radius: 3px;
  transition: .1s ease;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
    background-color: #3A7C82;
    color: #ffffff;
  }
}
.category-item_active {
  background-color: #decf6e;
}

.category-item_active_second_color {
  background: #86d6de;
}

.menu-item_active {
  background-color: #de9bc2;
}

.menu__category {
  //margin-top: -15px;
  //margin-bottom: 0;
  overflow: hidden;
}

#categories-li {
  margin-bottom: 0px;
}

#categories-items-li {
  margin-bottom: 20px;
}

.menu__category-list {
  padding-top: 10px;
  //margin: 5px 0 0;
  margin-bottom: 0px;
  transition: .4s cubic-bezier(.55,.04,.51,.95);
}

.close-zoom-up {
  transform: translateY(-100%);
}

.category-item {
  padding: 0 10px;
  margin-top: 3px;
  margin-left: 20px;
  //font-size: 1.1rem;
  width: 150px;
  border-radius: 3px;
  transition: .1s ease;


  &:hover {
    cursor: pointer;
    background-color: #3A7C82;
    color: #ffffff;
  }

}

.close-icon {
  position: absolute;
  top: 30px;
  left: 25px;
  transform: scale(0);
  transition: transform .3s cubic-bezier(.74,.01,.57,2);
  cursor: pointer;
}

.zoom {
  transform: scale(1);
  //transition: transform 0s;
}

.category-item_active {

}

.menu__stats {

}


