.switch,
.switch * {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .lever {
    background-color: #85d6de;
    text-align: left;

    &:before, &:after {
      left: 79px;
    }

    &:after {
      background-color: #498b91;
    }
  }
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 109px;
  height: 35px;
  background-color: #decf6e;
  border-radius: 4px;
  transition: background 0.3s ease;
  vertical-align: middle;
  padding: 0 15px;
  text-align: right;
  line-height: 37px;
  color: rgba(0, 0, 0, 0.60);

  &:before, &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 29px;
    margin: 3px -3px 3px 3px;
    border-radius: 4px;
    left: 0;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  }

  &:before {
    background-color: #85d6de;
  }

  &:after {
    background-color: #918950;
  }
}
