.stats__btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.stat__button {
  color: #515151;
  font-weight: 500;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #85d6de;
  cursor: pointer;
  transition: .3s ease;
  height: 30px;
  z-index: 5;

  &:hover {
    background: #8ddee6;
  }

  &:first-child {
    position: relative;
  }

}

.stats__table {
  margin-top: 20px;
  color: #515151;
}

.stats__category-row {
  border: 1px solid rgba(73, 139, 145, 0.39);
  justify-content: center;
  background: rgba(133, 214, 222, 0.44);
}

.stats__category-cell-name {
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    color: #de9bc2;
  }
}

.stats__category-word-name {
  font-size: 17px;
  padding: 3px 4px;
  background: rgba(253, 230, 92, 0.37);
  text-align: center;
  border: 1px solid rgba(73, 139, 145, 0.39);
}

.statistic__icons {
  vertical-align: bottom;
  text-align: center;
  padding: 0 4px;
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    color: #de9bc2;
  }
}

.dropdown__layout-wrapper {
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 10px;
  border-radius: 3px;
  width: max-content;
}

.sort-button-dropdown__layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: .3s ease;
  //background-color: #3A7C82;
}

.sort-button-dropdown__item {
  text-align: left;

  cursor: pointer;
  background-color: #3a7c82eb;
  color: #ffffff;
  padding: 3px 10px;

  &:hover {
    background: #de9bc2;;
    color: #515151;
  }
}
